body {
    background-color: #c98443;
  }
  h1{
    margin-top: 10px;
    text-align: center;
    color: white;
  }
  button{
padding: 2px;
  }

 #exhibitResult{
    display: none ;
    width: 450px;
  }
  .form{
      width: 60%;
      margin: 0 auto;
  }
  #meal{
      border-radius: 10px;
  }